<nav>
    <!--<mat-chip-list aria-label="Fish selection">

        <mat-chip color="primary" selected>convertir Moneda</mat-chip>
        <mat-chip color="primary" selected><span>Nosotros/contacto</span></mat-chip>
        <mat-chip color="primary" selected><span>listar</span></mat-chip>
        
    </mat-chip-list>-->

    <ul class="tabs">
        <!--<li><a href="#tab1"><span class="fa fa-home"></span><span class="tab-text">Converir Moneda</span></a></li>-->
        <li><a href="#tab2"><span class="fa fa-group"></span><span class="tab-text">Nosotros/Contacto</span></a></li>
        <li><a href="#tab3"><span class="fa fa-briefcase"></span><span class="tab-text">Filtrar moneda</span></a></li>
    </ul>
</nav>