<article id="tab1">
    <h1>Convertir moneda</h1>
    <br>

    <mat-form-field>
        <mat-label>valor-Moneda</mat-label>
        <input matImput>
    </mat-form-field>

    <mat-form-field class="Moneda-1">
        <mat-label>Moneda-convertir</mat-label>
        <mat-select>
            <mat-option></mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="moneda-2">
        <mat-label>MonedaConvertida</mat-label>
        <mat-select>
            <mat-option></mat-option>
        </mat-select>
    </mat-form-field>
</article>
