<app-header></app-header>
<app-container-portada></app-container-portada>

<div class="wrap">

    <button mat-raised-button href="#tab1"><span class="fa fa-home"></span><span class="tab-text">Converir Moneda</span></button>

    <button mat-button href="#tab2"><span class="fa fa-group"></span><span class="tab-text">Converir Moneda</span></button>

    <button mat-button href="#tab3"><span class="fa fa-briefcase"></span><span class="tab-text">Converir Moneda</span></button>

    <!--<app-menu-nav></app-menu-nav>-->

    <!--secciones del menu -->
    <!-- aqui se mosrtaran las diferentes secciones como info personal -->
    <app-tab-secciones></app-tab-secciones>

</div>
    

